.Flex {
  display: flex;
}

.ItemsCenter {
  align-items: center;
}

.JustifyCenter {
  justify-content: center;
}

.TextCenter {
  text-align: center;
}

.MarginBottom{
  margin-bottom: 8rem;
}

.WidthFull {
  width: 100%;
}

.HeightFull {
  height: 100%;
}

/* flex items-center justify-center w-full h-full  */

.BookDemoBackground {
  width: 100%;
  height: 840px;
  background-image: url('../../assets/Media/illustrations/bookdemo-background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 16rem;
  /* margin: 16rem auto; */
}

/* p-4 lg:w-1/2 md:w-full flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col */

.BookDemoContentBox {
  padding-top: 8rem;
  width: 90%;
  display: flex;
}

/* w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0 */

.BookDemoAvatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0px 56px;
}

.BookDemoParagraphBox {
  flex-grow: 1;
  text-align: left;
}

.BookDemoParagraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

/* px-4 py-2 mt-4 text-sm font-medium text-white uppercase transition-colors duration-200 transform bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:bg-blue-500 */

.BookDemoButton {
  padding: 16px 32px;
  /* width: 271px; */
  height: 64px;
  background: #000000;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
  border-radius: 8px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
}

.BookDemoArrows{
 margin-right: 300px;
 animation: var(--animate-bounce);
}