.Flex {
  display: flex;
}

.ItemsCenter {
  align-items: center;
}

.JustifyCenter {
  justify-content: center;
}

.TextCenter {
  text-align: center;
}

.Container {
  width: 100%;
  height: 640px;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.BookDemoBackground {
  background-color: rgba(255, 198, 25, 1);
}

.BookDemoContentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}

.BookDemoAvatar {
  width: 100%;
  height: 8rem;
  display: block;
  object-fit: contain;
  object-position: center;
  margin: 0 auto;
}

.BookDemoParagraphBox {
  flex-grow: 1;
  text-align: center;
}

.BookDemoParagraph {
  font-weight: normal;
  font-size: 1rem;
  line-height: 2rem;
  color: #000000;
}

.BookDemoButton {
  padding: 16px 32px;
  height: 64px;
  background: #000000;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  border-radius: 8px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.BookDemoArrows {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .Container {
    max-width: 640px;
    flex-direction: column;
  }
  .BookDemoArrows {
    width: 50%;
    animation: Bounce 1s infinite;
  }
}

@media (min-width: 768px) {
  .Container {
    max-width: 768px;
    height: 400px;
    flex-direction: column;
  }
  .BookDemoContentBox {
    flex-direction: row;
  }
  .BookDemoParagraphBox {
    text-align: left;
    margin-left: 1.5rem;
  }
  .BookDemoParagraph {
    width: 90%;
  }
  .BookDemoArrows {
    width: 40%;
    margin-left: 100px;
  }
}

@media (min-width: 1024px) {
  .BookDemoBackground {
    background-image: url('../../assets/landing/illustrations/bookdemo-background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: transparent;
  }
  .Container {
    max-width: 1024px;
    height: 560px;
    flex-direction: column;
    padding: 4rem;
    padding-top: 16rem;
  }
  .BookDemoParagraph {
    width: 80%;
  }
  .BookDemoButton {
    font-size: 20px;
    line-height: 2rem;
  }
  .BookDemoArrows {
    width: 45%;
    margin-left: 100px;
  }
}

@media (min-width: 1280px) {
  .Container {
    max-width: 1280px;
    height: 840px;
    flex-direction: row;
  }
  .BookDemoParagraph {
    width: 80%;
  }
  .BookDemoButton {
    font-size: 20px;
    line-height: 2rem;
  }
  .BookDemoArrows {
    width: 25%;
    margin-left: 300px;
  }
}

@media (min-width: 1536px) {
  .Container {
    max-width: 1536px;
    height: 840px;
    flex-direction: column;
  }
  .BookDemoParagraph {
    width: 80%;
  }
  .BookDemoButton {
    font-size: 20px;
    line-height: 2rem;
  }
  .BookDemoArrows {
    width: 25%;
    margin-left: 300px;
  }
}

@keyframes Bounce {
  0%, 100% {
    transform: translateY(-25%);
    animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
  }
}