.Flex {
  display: flex;
}

.Relative {
  position: relative;
}

.Absolute {
  position: absolute;
}

.ItemsCenter {
  align-items: center;
}

.JustifyCenter {
  justify-content: space-center;
}

.Footer {
  background: #000000;
  color: #FFFFFF;
  overflow: hidden;
}

.Container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 4rem 1.25rem;
}

.Text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2rem;
  color: #888888;
  margin-top: 8px;
}

.FlagsContainer {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 0.5rem;
  margin-top: 1rem;
}

.OrderFirst {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-between;
  flex-grow: 1;
  order: -9999;
}

.OrderLast {
  order: 0;
  flex-shrink: 0;
  margin: 2rem 0;
  text-align: left;
  padding: 0 1rem;
}

.Columns {
  width: 100%;
  padding: 0 1rem;
}

.Nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  list-style-type: none;
  margin-top: calc(0.5rem * calc(1 - 0));
  margin-bottom: calc(0.5rem * 0);
}

.NavLinks {
  font-weight: normal;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 32px;
  margin: 10px 0px;
}

.NavLinks:hover {
  color: rgba(31, 41, 55, 1);
}

.Footnote {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #EEEEEE;
  margin: 10px 0px;
}

.CompanyDescription {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #888888;
}

@media (min-width: 640px) {
  .Container {
    max-width: 640px;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .Container {
    max-width: 768px;
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .Container {
    max-width: 1024px;
    flex-direction: row;
    align-items: center;
  }
  .OrderFirst {
    flex-direction: row;
    align-items: center;
  }
  .Columns {
    width: 30%;
  }
  .Nav {
    flex-direction: column;
  }
}

@media (min-width: 1280px) {
  .Container {
    max-width: 1280px;
    height: 840px;
    flex-direction: row;
  }
}

@media (min-width: 1536px) {
  .Container {
    max-width: 1536px;
    height: 540px;
    flex-direction: row;
    align-items: center;
  }
  .OrderFirst {
    flex-direction: row;
    align-items: center;
  }
  .Columns {
    width: 30%;
  }
  .Nav {
    flex-direction: column;
  }
}