.Container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Title {
  font-weight: bold;
  font-size: 32px;
  line-height: 56px;
  color: #000000;
  margin: 8px 0px;
}

.FeatureLists {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  list-style-position: inside;
  padding-left: 0;
}

.Spaces> :not([hidden])~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - 0));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.MarginLeft {
  margin-left: 8px;
}

.PrimaryButton {
  height: 64px;
  padding: 16px 32px;
  color: #ffffff;
  border-radius: 8px;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
  transition: var(--animate-button);
}

.PrimaryButton:focus {
  outline: none;
}

@media (min-width: 640px) {
  .Container {
    max-width: 90%;
  }
  .PrimaryButton {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (min-width: 768px) {
  .Container {
    max-width: 50%;
  }
  .PrimaryButton {
    font-size: 14px;
    line-height: 28px;
  }
}

@media (min-width: 1024px) {
  .Container {
    max-width: 50%;
  }
  .PrimaryButton {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (min-width: 1280px) {
  .Container {
    max-width: 50%;
  }
  .PrimaryButton {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (min-width: 1536px) {
  .Container {
    max-width: 50%;
  }
  .PrimaryButton {
    font-size: 20px;
    line-height: 32px;
  }
}