.Card {
  width: 6rem;
  height: 3rem;
  background-color: #F5F5F5;
  border-radius: 8px;
  animation: var(--animate-pulse);
}

.Discover {
  text-align: center;
}

.Container {
  width: 100%;
  padding: 3rem 1rem;
  margin: 0 auto;
}

.ContentBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.Cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
  place-content: center;
  place-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.Title {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000001;
}

.Display {
  display: none;
}

@media (min-width: 640px) {
  .Container {
    max-width: 640px;
  }
  .Card {
    width: 192px;
    height: 80px;
  }
  .Title {
    font-size: 56px;
    line-height: 64px;
  }
  .Cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .Container {
    max-width: 768px;
  }
  .Card {
    width: 192px;
    height: 80px;
  }
  .Title {
    font-size: 56px;
    line-height: 64px;
  }
  .Cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .Container {
    max-width: 1024px;
  }
  .Card {
    width: 192px;
    height: 80px;
  }
  .Title {
    font-size: 56px;
    line-height: 64px;
  }
  .Cards {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .Container {
    max-width: 1280px;
  }
  .Card {
    width: 192px;
    height: 80px;
  }
  .Title {
    font-size: 56px;
    line-height: 64px;
  }
  .Cards {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .Display {
    display: block;
  }
}

@media (min-width: 1536px) {
  .Container {
    max-width: 1536px;
  }
  .Card {
    width: 192px;
    height: 80px;
  }
  .Title {
    font-size: 56px;
    line-height: 64px;
  }
  .Cards {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .Display {
    display: block;
  }
}