.Container {
  width: 90%;
  padding: 0 .5rem;
  margin: 0 auto;
  overflow: hidden;
}

.Italic {
  font-style: italic;
}

.UseCaseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 8rem auto;
  /* height: 48rem; */
}

.Feature {
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  color: #000000;
  font-size: 16px;
  line-height: 32px;
}

.Spaces> :not([hidden])~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - 0));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.SquareIcon {
  width: 8px;
  height: 8px;
  background-color: #07DCA9;
  margin-right: 4px;
}

@media (min-width: 640px) {
  .Container {
    max-width: 640px;
  }
  .UseCaseContainer {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .Container {
    max-width: 768px;
  }
  .UseCaseContainer {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .Container {
    max-width: 1024px;
  }
  .UseCaseContainer {
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .Container {
    max-width: 1280px;
  }
  .UseCaseContainer {
    flex-direction: row;
  }
}

@media (min-width: 1536px) {
  .Container {
    max-width: 1536px;
  }
  .UseCaseContainer {
    flex-direction: row;
  }
}