:root {
  --animate-bounce: Bounce 1s infinite;
  --animate-refresh: Refresh 3s cubic-bezier(0.2, 0.8, 0.2, 1) 0.1s forwards;
  --animate-pulse: Pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-button:background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.Hero {
  opacity: 0;
  animation: var(--animate-refresh);
}

#AnimateHeroText {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

@keyframes Refresh {
  0% {
    opacity: 0;
    transform: translateY(28px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes Shimmer {
  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}

@keyframes Bounce {
  0%, 100% {
    transform: translateY(-25%);
    animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes Pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}