.Background {
  background-image: url('../../assets/Media/illustrations/demo-background.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 14rem;
}

.Container {
  width: 100%;
  padding: 3rem 1rem;
  padding-bottom: 0rem;
  margin: 1rem auto;
}

.TopContentBox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 4rem;
  justify-content: center;
  align-items: center;
}

.HeadlineContainer {
  width: 100%;
}

.HeadlineTitle {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
}

.HeadlineParagraph {
  width: 100%;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  margin: 0px 40px;
  order: -999;
  text-align: center;
  display: none;
}

.DemoCardContainer {
  width: 100%;
}

.DemoCard {
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  height: 540px;
  background-color: #FFFFFF;
  border-radius: 16px;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 640px) {
  .Container {
    max-width: 640px;
  }
  .HeadlineContainer {
    width: 33.333333%;
  }
  .HeadlineParagraph {
    width: 50%;
    order: 0;
    text-align: left;
    display: block;
  }
  .DemoCard {
    height: 740px;
  }
}

@media (min-width: 768px) {
  .Container {
    max-width: 768px;
  }
  .HeadlineContainer {
    width: 33.333333%;
  }
  .HeadlineParagraph {
    width: 50%;
    order: 0;
    text-align: left;
    display: block;
  }
  .DemoCard {
    height: 740px;
  }
}

@media (min-width: 1024px) {
  .Container {
    max-width: 1024px;
  }
  .HeadlineContainer {
    width: 33.333333%;
  }
  .HeadlineParagraph {
    width: 50%;
    order: 0;
    text-align: left;
    display: block;
  }
  .DemoCard {
    height: 740px;
  }
}

@media (min-width: 1280px) {
  .Container {
    max-width: 1280px;
  }
  .HeadlineContainer {
    width: 33.333333%;
  }
  .HeadlineParagraph {
    width: 50%;
    order: 0;
    text-align: left;
    display: block;
  }
  .DemoCard {
    height: 740px;
  }
}

@media (min-width: 1536px) {
  .Container {
    max-width: 1536px;
  }
  .HeadlineContainer {
    width: 33.333333%;
  }
  .HeadlineParagraph {
    width: 50%;
    order: 0;
    text-align: left;
    display: block;
  }
  .DemoCard {
    height: 740px;
  }
}