.Background {
  background-image: url('../../assets/Media/illustrations/demo-background.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 16rem;
}

/* 'container px-5 py-24 mx-auto'  */

.Container {
  width: 90%;
  padding: 4rem 1.5rem;
  padding-bottom: 0rem;
  margin: 1rem auto;
}

.TopContentBox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 4rem;
  justify-content: center;
  align-items: center;
}

/* 'lg:w-1/3 w-full mb-6 lg:mb-0' */

.HeadlineContainer {
  width: 33.333333%;
}

/* 
ml-24 sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900' */

.HeadlineTitle {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
}

/* 'lg:w-1/2 w-full leading-relaxed text-gray-100' */

.HeadlineParagraph {
  width: 50%;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  margin: 0px 40px;
}

/* 'bg-white shadow-2xl p-6 rounded-lg lg:h-96' */

.DemoCardContainer {
  width: 100%;
  /* margin: -1rem; */
}

/* 'xl:w-full md:w-full p-4 -m-4'  */

.DemoCard {
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  height: 740px;
  background-color: #FFFFFF;
  border-radius: 16px;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}