:root {
  --tw-bg-opacity: 1;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.Flex {
  display: flex;
}

.ItemsCenter {
  align-items: center;
}

.JustifyCenter {
  justify-content: space-center;
}

.Block {
  display: block;
}

.Hidden {
  display: none;
}

.Nav {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(17, 24, 39, var(--tw-text-opacity));
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.25rem;
  margin: 0 auto;
}

.NavLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1rem;
  line-height: 1.5rem;
  border-right: 2px solid rgba(238, 238, 238, 1);
  /* margin-right: 0.75rem; */
  margin-left: auto;
}

.NavLink {
  margin-right: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  transition: font-weight 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.NavLink:active {
  font-weight: 600;
}

.NavLink:focus {
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}

.NavLink:hover {
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}

.Logo {
  height: 48px;
}

.LoginButton {
  display: block;
  width: 70px;
  height: 48px;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  color: rgba(31, 54, 246, 1);
  border-radius: 8px;
  padding: 8px 16px;
  margin: 0px 16px;
  cursor: pointer;
}

.LoginButton:hover {
  background-color: #fff;
  border-radius: 0.5rem;
}

.RegisterButton {
  display: flex;
  height: 48px;
  width: 152px;
  border-radius: 8px;
  padding: 8px, 16px, 8px, 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(31, 54, 246, 1);
  border: 1px solid #1F36F6;
  background-color: #fff;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.RegisterButton:focus {
  outline: none;
}

.RegisterButton:Hover {
  color: #fff;
  background-color: rgba(31, 54, 246, 1);
  border: none;
}

.container {
  width: 100%;
}

.transition {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-500 {
  transition-duration: 500ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.transform {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rounded-lg {
  border-radius: 0.5rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}