.Nav {
  background: #fff;
}

.Navbar {
  width: 100%;
  margin: 0 auto;
  padding: .5rem 1.5rem;
}

/* md:flex md:justify-between md:items-center */

.Flex {
  display: flex;
}

.ItemsCenter {
  align-items: center;
}

.JustifyCenter {
  justify-content: space-center;
}

.JustifyBetween {
  justify-content: space-between;
}

.Hidden {
  display: none;
}

.MobileMenu {
  display: block;
  align-items: center;
  justify-content: center;
}

/* 'text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400' */

.MenuButton {
  background: #fff;
  color: #000;
  border: none;
}

.MenuButton:focus {
  outline: none;
}

.Logo {
  height: 3rem;
}

@media (min-width: 640px) {
  .Navbar {
    width: 90%;
  }
  .MobileMenu {
    display: none;
  }
  .Logo {
    height: 2rem;
  }
}

@media (min-width: 768px) {
  .Navbar {
    width: 90%;
  }
  .MobileMenu {
    display: none;
  }
  .Logo {
    height: 3rem;
  }
}

@media (min-width: 1024px) {
  .Navbar {
    width: 90%;
  }
  .MobileMenu {
    display: none;
  }
  .Logo {
    height: 3rem;
  }
}

@media (min-width: 1280px) {
  .Navbar {
    width: 90%;
  }
  .MobileMenu {
    display: none;
  }
  .Logo {
    height: 3rem;
  }
}

@media (min-width: 1536px) {
  .Navbar {
    width: 90%;
  }
  
  .MobileMenu {
    display: none;
  }
  .Logo {
    height: 3rem;
  }
}