.Flex {
  display: flex;
  flex-direction: column;
}

.Relative {
  position: relative;
}

.Absolute {
  position: absolute;
}

.ItemsCenter {
  align-items: center;
}

.JustifyCenter {
  justify-content: space-center;
}

.HeroContainer {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 1rem auto;
}

.LeftHeroBox {
  width: 100%;
  text-align: center;
}

.HeroText {
  font-family: Source Sans Pro, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
  width: 100%;
  margin-bottom: 2rem;
}

.HeroParagraph {
  font-weight: normal;
  width: 100%;
  margin: 24px auto;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.Highlight {
  background-color: #FFDF80;
  height: 64px;
}

.CTAButton {
  height: 64px;
  padding: 16px 32px;
  background: #1F36F6;
  border-radius: 8px;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  transition: var(--animate-button);
}

.CTAButton:hover {
  background: #051adf;
}

.RightHeroBox {
  display: flex;
  order: -9999;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.HeroImage {
  width: 100%;
}

@media (min-width: 640px) {
  .Flex {
    flex-direction: row;
  }
  .LeftHeroBox {
    width: 50%;
    text-align: left;
  }
  .RightHeroBox {
    width: 50%;
    order: 9999;
  }
  .HeroContainer {
    max-width: 640px;
  }
  .HeroText {
    font-size: 56px;
    line-height: 64px;
  }
}

@media (min-width: 768px) {
  .Flex {
    flex-direction: row;
  }
  .HeroContainer {
    max-width: 768px;
  }
  .LeftHeroBox {
    width: 50%;
    order: 0;
    text-align: left;
  }
  .RightHeroBox {
    width: 50%;
    order: 9999;
  }
  .HeroText {
    font-size: 32px;
    line-height: 36px;
  }
}

@media (min-width: 1024px) {
  .HeroContainer {
    max-width: 1024px;
  }
  .LeftHeroBox {
    width: 50%;
    order: 0;
    text-align: left;
  }
  .RightHeroBox {
    width: 50%;
    order: 9999;
  }
  .HeroText {
    font-size: 48px;
    line-height: 56px;
  }
}

@media (min-width: 1280px) {
  .HeroContainer {
    max-width: 1280px;
  }
  .LeftHeroBox {
    width: 50%;
    order: 0;
    text-align: left;
  }
  .RightHeroBox {
    width: 50%;
    order: 9999;
  }
  .HeroText {
    font-size: 56px;
    line-height: 64px;
  }
  .HeroParagraph {
    width: 80%;
    margin: 24px 0px;
  }
}

@media (min-width: 1536px) {
  .HeroContainer {
    max-width: 1536px;
  }
  .LeftHeroBox {
    width: 50%;
    order: 0;
    text-align: left;
  }
  .RightHeroBox {
    width: 50%;
    order: 9999;
  }
  .HeroText {
    font-size: 56px;
    line-height: 64px;
  }
  .HeroParagraph {
    width: 80%;
    margin: 24px 0px;
  }
}